/* CSS 주석 처리 */
/* 전체 선택자: 웹 문서 전체에 대한 설정을 위해서 사용하는 선택자 */
* {

}


/* td 가운데 정렬 처리 및 기타 속성 작업 */
/* 태그 이름 선택자: 태그 이름 그 자체로 특정 요소를 선택 */
table {
    /* border-collapse 속성: 기본값 seperate, collapse(하나로 합침) */
    border-collapse: collapse;
    /* 외곽선(border) 두께 */
    /* 외곽선(border) style */
    /* border의 스타일: dashed(.--.--.--), dotted(.....) */
    border: 3px solid black;    /* 외곽선(border) 색상 */
    width: 80%; /* 표시되는 화면의 80% 크기를 가지겠다는 의미.(데이터가 크기를 넘어가면 무시) */
    text-align: center;
}
tr {
    height: 24px;       /* tr의 높이 설정 */
    font-size: 14px;    /* 글자 크기 */

}
tr:hover {
    color: white;
    font-weight: bold;
    background-color: aqua;
    cursor: pointer;
}
th {
    height: 25px;       /* th의 높이 설정 */
    font-size: 16px;
    background-color: slategray;
}

/* id 선택자: id 선택자는 요소의 id값 앞에 #을 붙여서 사용. */
#id {width: 15%;}
#name {width: 10%;}
#major {width: 25%;}
#email {width: 50%;}

/* class 선택자: 요소의 클래스명 앞에 .을 붙여서 사용 */
.odd {
    background-color: rgb(192, 189, 189);
}

/*
선택자 우선 순위: id(최우선) -> class -> tag -> *
*/